<!DOCTYPE html>
<html lang="en">
	{include file="Public:header" /}
	{include file="Public:page_css" /}
	<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
		{include file="Public:nav" /}
		<div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content no-padding">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p class="text-success">
                                    <a href="{:url('Index/index')}" title="返回首页" class="tip-bottom"><i class="fa fa-home"></i> 首页</a> /
                                    <a href="#" class="tip-bottom">微信管理</a> /
                                    <a href="#" class="current"> 自定义菜单</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
		</div>
        <div class="alert alert-success">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            说明:如果菜单类型为"小程序","小程序appid"和"小程序路径"字段必填,且"值"字段代表在用户微信版本不支持小程序时,点击跳转的链接
        </div>
        <div class="row">
            <div class="col-sm-10">
                {if condition="$has_son eq '1'"}
                    <a href="javascript:;" id='add' class="btn btn-primary btn-sm">增加子菜单</a>
                {/if}
                <a data-index="{$Request.param.index}" class="btn btn-success btn-sm save">保存</a>
                <a href="{:url('menu_list')}" class="btn btn-danger btn-sm">返回</a>
            </div>
        </div>

		<br />
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5><i class="fa fa-tasks"></i> 自定义菜单列表-{$menu_name}</h5>
					</div>
					<div class="ibox-content">
						<table class="table table-bordered">
							<thead>
								<tr class="long-tr">
                                    <th width="5%">编号</th>
                                    <th>菜单名称</th>
                                    <th>菜单类型</th>
                                    <th>值</th>
                                    <th>小程序appid</th>
                                    <th>小程序路径</th>
                                    {if condition="$has_son eq '1'"}
                                        <th width="5%">操作</th>
                                    {/if}
								</tr>
							</thead>
                            <form class="form-horizontal form-border" action='' name='form' id="form" method="post">
							<tbody id='tb'>
                                {volist name="list" id="vo" key="key"}
                                    <tr>
                                        <td class='text-center'>{$key}</td>
                                    {if condition="$has_son eq '1'"}
                                        <td><input name='name[]' type='text' class='form-control' value='{$vo.name}'></td>
                                    {else/}
                                        <td><input name='name[]' type='text' class='form-control' value='{$menu_name}' readonly></td>
                                    {/if}
                                        <td>
                                            <select name='type[]' class='form-control'>
                                                <option value=''>请选择</option>
                                                <option value='click' {if condition="$vo.type eq 'click'"}selected{/if} >关键字</option>
                                                <option value='view' {if condition="$vo.type eq 'view'"}selected{/if} >链接</option>
                                                <option value='miniprogram' {if condition="$vo.type eq 'miniprogram'"}selected{/if} >小程序</option>
                                            </select>
                                        </td>
                                        <td><input name='value[]' type='text' class='form-control' value="{$vo.value}"></td>
                                        <td><input name='appid[]' type='text' class='form-control' value="{$vo.appid}"></td>
                                        <td><input name='pagepath[]' type='text' class='form-control' value="{$vo.pagepath}"></td>
                                    {if condition="$has_son eq '1'"}
                                        <td><a href='javascript:;' class='btn btn-danger btn-sm del'>删除</a></td>
                                    {/if}
                                    </tr>
                                {/volist}
							</tbody>
                            </form>
						</table>
					</div>
				</div>
			</div>
		</div>
		{include file="Public:footer" /}
	</body>
    <script type="text/javascript">
        $('#add').on('click',function(){
            var index=1;
            $('input[name="name[]"]').each(function(){
                index++;
            })
            if(index>5){
                layer.msg('最多设置5个子菜单',{skin:"layui-layer-hui",time:1000});
                return false;
            }
            // console.log(index);
            var new_tr="<tr><td class='text-center'>"+index+"</td><td><input name='name[]' type='text' class='form-control' value=''></td><td><select name='type[]' class='form-control'><option value=''>请选择</option><option value='click'>关键字</option><option value='view'>链接</option><option value='miniprogram'>小程序</option></select></td><td><input name='value[]' type='text' class='form-control' value=''></td><td><input name='appid[]' type='text' class='form-control' value=''></td><td><input name='pagepath[]' type='text' class='form-control' value=''></td><td><a href='javascript:;' class='btn btn-danger btn-sm del'>删除</a></td></tr>";
            $(".table-bordered tbody").append(new_tr);
        });

        // 删除后重置编号
        $("#tb").delegate(".del","click",function(){
            $(this).parent().parent().remove();
            var index=1;
            $('input[name="name[]"]').each(function(){
                $(this).parent().prev().text(index);
                index++;
            })
        });

        $(".save").click(function(){
            var index=$(this).data('index');

            var name=[];
            var name_flag=true;
            $('input[name="name[]"]').each(function(){
                if(!$(this).val()){
                    name_flag=false;
                }else{
                    name[name.length]=$(this).val();
                }
            })
            if(!name_flag){
                layer.msg('请输入菜单名称',{skin:"layui-layer-hui",time:1000});
                return false;
            }
            if(name.length==0){
                layer.msg('请至少添加一个子菜单',{skin:"layui-layer-hui",time:1000});
                return false;
            }

            var type=[];
            var type_flag=true;
            $('select[name="type[]"]').each(function(){
                if($(this).val()==''){
                    type_flag=false;
                }else{
                    type[type.length]=$(this).val();
                }
            })
            if(!type_flag){
                layer.msg('请选择菜单类型',{skin:"layui-layer-hui",time:1000});
                return false;
            }

            var value=[];
            var value_flag=true;
            $('input[name="value[]"]').each(function(){
                if(!$(this).val()){
                    value_flag=false;
                }else{
                    value[value.length]=$(this).val();
                }
            })
            if(!value_flag){
                layer.msg('请输入值',{skin:"layui-layer-hui",time:1000});
                return false;
            }

            var appid=[];
            var appid_flag=true;
            $('input[name="appid[]"]').each(function(){
                var type=$(this).parent().prev().prev().children().eq(0).val();
                if(type=='miniprogram' && !$(this).val()){
                    appid_flag=false;
                }else{
                    appid[appid.length]=$(this).val();
                }
            })
            if(!appid_flag){
                layer.msg('请输入小程序appid',{skin:"layui-layer-hui",time:1000});
                return false;
            }

            var pagepath=[];
            var pagepath_flag=true;
            $('input[name="pagepath[]"]').each(function(){
                var type=$(this).parent().prev().prev().prev().children().eq(0).val();
                if(type=='miniprogram' && !$(this).val()){
                    pagepath_flag=false;
                }else{
                    pagepath[pagepath.length]=$(this).val();
                }
            })
            if(!pagepath_flag){
                layer.msg('请输入小程序路径',{skin:"layui-layer-hui",time:1000});
                return false;
            }

            layer.load(1, {shade: [0.3, '#393D49']});
            $.ajax({
                url:'{:url("menu_list_son")}',
                data:{index:index,name:name,type:type,value:value,appid:appid,pagepath:pagepath},
                type:'post',
                success:function(data){
                    layer.msg(data.msg,{skin:"layui-layer-hui",time:1000});
                    if(data.code){
                        window.location.href='{:url("menu_list")}';
                    }else{
                        layer.close(layer.load());
                    }
                },
                dataType:'json'
            })
        });
    </script>
</html>
