<!DOCTYPE html>
<html lang="en">
	{include file="Public:header" /}
	{include file="Public:page_css" /}
	<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
		{include file="Public:nav" /}
		<div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content no-padding">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p class="text-success">
                                    <a href="{:url('Index/index')}" title="返回首页" class="tip-bottom"><i class="fa fa-home"></i> 首页</a> /
                                    <a href="#" class="tip-bottom">微信管理</a> /
                                    <a href="#" class="current"> 自定义回复</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
		</div>

        <div class="row">
            <div class="col-sm-10">
                <form action="{:url('reply')}" class="form-inline" method="post">
                    <a href="{:url('set_reply')}" class="btn btn-primary btn-sm">添加回复</a>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="规则名称" name="keyword" value="{$Request.param.keyword}" size="10">
                    </div>
                    <button type="submit" class="btn btn-success btn-sm">搜索</button>
                </form>
            </div>
        </div>

		<br />
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5><i class="fa fa-tasks"></i> 回复列表</h5>
					</div>
					<div class="ibox-content">
						<table class="table table-bordered">
							<thead>
								<tr class="long-tr">
                                    <th width="5%">编号</th>
                                    <th width="15%">规则名称</th>
                                    <th width="10%">回复类型</th>
                                    <th>关键字</th>
                                    <th width="10%">点击量</th>
                                    <th width="15%">状态</th>
                                    <th width="20%">操作</th>
								</tr>
							</thead>
							<tbody>
								{volist name="list" id="vo"}
									<tr>
                                        <td class="text-center">{$vo.mid}</td>
                                        <td class="text-center">{$vo.mname}</td> 
                                        <td class="text-center">
                                            {switch name='vo.replytype'}
                                                {case value='news'}<span class='label label-warning'>图文</span>{/case}
                                                {case value='text'}<span class='label label-info'>文字</span>{/case}
                                            {/switch}
                                        </td>
                                        <td>
                                        {volist name="vo.keyword" id="v"}
                                            <span class="label" style="margin:0 2px">{$v}</span>
                                        {/volist}
                                        </td>
                                        <td class="text-center">{$vo.visit}</td>
                                      	<td class="text-center">
                                           默认回复:{$vo['is_default']==1?'是':'否'}<br>
                                           关注回复:{$vo['is_subscribe']==1?'是':'否'}<br>
                                           客服接管:{$vo['service']==1?'是':'否'} 
                                        </td>
										<td class="text-center">
											<a href="{:url('set_reply',array('mid'=>$vo['mid']))}" class="btn btn-primary btn-sm">编辑</a>
											<a data-href="{:url('del_reply',array('mid'=>$vo['mid']))}" class="btn btn-danger btn-sm del">删除</a>
										</td>
									</tr>
								{/volist}
							</tbody>
						</table>
						<div class="pages" style=" text-align: right;">
							{$list->render()}
                            <li class="rows">共<b>{$list->total()}</b>条记录&nbsp;第<b>{$list->currentPage()}</b>页/共<b>{$list->lastPage()}</b>页</li>
						</div>
					</div>
				</div>
			</div>
		</div>
		{include file="Public:footer" /}
	</body>
    <script type="text/javascript">
        $(".del").click(function(){
            var thi= $(this);            
            var href = thi.data("href");
            layer.confirm('确定删除？', {icon: 3}, function(index){
                $.getJSON(href,function(data){
                    layer.msg(data.returnMsg,{skin:"layui-layer-hui",time:1000,end:function(){
                        if(data.returnCode == 'SUCCESS'){
                            window.location.reload();
                        }
                    }});
                });
            });
        });
    </script>
</html>
