<head>
<title>{:config('site.sitename')}</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/admin/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <!-- <link href="/static/admin/css/font-awesome.min.css?v=4.4.0" rel="stylesheet"> -->
    <link href="/static/admin/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/static/admin/css/plugins/chosen/chosen.css" rel="stylesheet">
    <link href="/static/admin/css/plugins/colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
    <link href="/static/admin/css/plugins/cropper/cropper.min.css" rel="stylesheet">
    <link href="/static/admin/css/plugins/switchery/switchery.css" rel="stylesheet">
    <link href="/static/admin/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="/static/admin/css/plugins/nouslider/jquery.nouislider.css" rel="stylesheet">
    <link href="/static/admin/css/plugins/datepicker/foundation-datepicker.css" rel="stylesheet">
    <link href="/static/admin/css/plugins/clockpicker/clockpicker.css" rel="stylesheet">
    <link href="/static/admin/css/animate.min.css" rel="stylesheet">  
    <link href="/static/admin/css/style.min.css?v=4.0.0" rel="stylesheet">	
    <link href="/static/admin/css/uploadfile.css" rel="stylesheet">
   	<script src="/static/admin/js/jquery.min.js"></script>
    <script src="/static/admin/layer/layer.js"></script>
    <link href="/static/admin/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="/static/admin/js/plugins/chosen/chosen.jquery.js"></script>
   
</head>
