<!DOCTYPE html>
<html lang="en">
	{include file="Public:header" /}
	<script type="text/javascript" src="/static/admin/js/bootstrap.min.js?v=3.3.5"></script>
	<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
        <div class="alert alert-success">
			<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
			说明:该功能仅针对几个基本字段进行批量新增(decimal,float,int,longtext,tinyint,varchar) 数据仅为测试值 与预期效果会有误差 如要正式数据建议使用专业mysql软件进行开发
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox-content">
					<form id="form-wizard" action="" method="post" class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label">表名</label>
							<div class="col-sm-6">
								<select name='table_name' class='form-control m-b chosen-select'>
									<option value=''>请选择</option>
									{volist name='lists' id='v'}
										<option value='{$v}'>{$v}</option>
									{/volist}
								</select>
							</div>
						</div>
						<div class="hr-line-dashed"></div>
						<div class="form-group">
							<label class="col-sm-2 control-label">条数</label>
							<div class="col-sm-6">
								<input name='num' class='form-control' type='text' placeholder='请输入条数'>
							</div>
						</div>
						<div class="hr-line-dashed"></div>
						<div class="form-group">
							<div class="col-sm-4 col-sm-offset-2">
								<button class="btn btn-primary" type="submit">保存信息</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		{include file="Public:form" /}
		<script type="text/javascript" src="/static/admin/js/plugins/chosen/chosen.jquery.js"></script>
	</body>
	<script type="text/javascript">
		var config = {
            '.chosen-select': {},                    
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }
		//表单验证
		var valid = $("#form-wizard").Validform({
		    tiptype:function(msg){
		        layer.msg(msg,{skin:"layui-layer-hui",time:1000});
		    },
		    tipSweep:true,
		    postonce:true,
		    beforeSubmit:function(form){
		    	// return false;
		    	var table_name=$('select[name=table_name] option:selected').val();
		    	if(!table_name){
		    		layer.msg('请选择表名',{skin:'layui-layer-hui',time:1000});
		    		return false;
		    	}
		    	var num=$('input[name=num]').val();
		    	if(!num || isNaN(num) || num<=0){
		    		layer.msg('请输入条数',{skin:'layui-layer-hui',time:1000});
		    		return false;
		    	}
		    	layer.load(1, {shade: [0.3, '#393D49']});
		    },
		    ajaxPost:true,
		    callback:function(data){
		        layer.msg(data.returnMsg,{skin:"layui-layer-hui",time:1000,end:function(){
		            if(data.returnCode == 'SUCCESS'){
		            	window.parent.location.reload(); //重载父页面
		            }else{
	                	layer.close(layer.load());
	                }
		        }});
		    }
		});
	</script>
</html>